.box {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.follow-title {
  color: var(--second-basic-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.follow-list {
  display: flex;
  gap: 10px;
}
.follow-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--second-basic-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.container-address {
  display: flex;
  flex-direction: column;
}
.form-container {
  margin-left: 93px;
}
.form {
  display: flex;
  align-items: flex-end;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  label {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-basic-color);
  }
  input {
    width: 358px;
    height: 50px;
    margin: 0;
    margin-top: 20px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: none;
    background-color: var(--second-background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & input:hover,
  & input:focus {
    border-color: var(--accent-color);
  }
  & input::placeholder {
    font-size: 16px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}
