.modal-field {
  position: relative;
  display: flex;
  flex-direction: column;
  & input {
    height: 40px;
    outline: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      cursor 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & textarea {
    resize: none;
    outline: none;
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & input:hover,
  & input:focus,
  & textarea:hover,
  & textarea:focus {
    border-color: var(--accent-color);
    cursor: pointer;
  }
  & label {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
  }
  & textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.modal-icon {
  position: absolute;
  display: inline-block;
  top: 56%;
  transform: translateY(-50%);
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-field input:hover + &,
  .modal-field input:focus + & {
    fill: var(--accent-color);
  }
}
